openapi: 3.0.3
info:
  title: Asana Plugin
  description: A plugin that allows the user to interact with Asana using ChatGPT.
  termsOfService: https://asana.com/terms
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://app.asana.com/api/1.0
paths:
  /users/{user_gid}:
    parameters:
      - $ref: "#/components/parameters/user_gid"
      - $ref: "#/components/parameters/opt_fields"
      - $ref: "#/components/parameters/opt_pretty"
    get:
      tags:
        - Users
      summary: Get a user
      description: >-
        Returns the full user record for the single user with the provided ID.
      operationId: getUser
      responses:
        "200":
          description: Returns the user specified.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UserResponse"
components:
  schemas:
    AsanaResource:
      description: A generic Asana Resource, containing a globally unique identifier.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: "12345"
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
    UserBaseResponse:
      allOf:
        - $ref: "#/components/schemas/UserCompact"
        - type: object
          properties:
            email:
              type: string
              format: email
              readOnly: true
              description: The user's email address.
              example: gsanchez@example.com
            photo:
              type: object
              nullable: true
              properties:
                image_21x21:
                  type: string
                  format: uri
                  example: https://...
                image_27x27:
                  type: string
                  format: uri
                  example: https://...
                image_36x36:
                  type: string
                  format: uri
                  example: https://...
                image_60x60:
                  type: string
                  format: uri
                  example: https://...
                image_128x128:
                  type: string
                  format: uri
                  example: https://...
                image_1024x1024:
                  type: string
                  format: uri
                  example: https://...
              readOnly: true
              description: >-
                A map of the user’s profile photo in various sizes, or null if no
                photo is set. Sizes provided are 21, 27, 36, 60, 128, and 1024. All
                images are in PNG format, except for 1024 (which is in JPEG format).
              example:
                image_21x21: https://...
                image_27x27: https://...
                image_36x36: https://...
                image_60x60: https://...
                image_128x128: https://...
                image_1024x1024: https://...
    UserCompact:
      allOf:
        - $ref: "#/components/schemas/AsanaResource"
        - type: object
          description: >-
            A *user* object represents an account in Asana that can be given
            access to various workspaces, projects, and tasks.
          properties:
            # Override resource_type example
            resource_type:
              example: user
            name:
              type: string
              description: >-
                *Read-only except when same user as requester*. The user’s name.
              example: Greg Sanchez
    UserResponse:
      allOf:
        - $ref: "#/components/schemas/UserBaseResponse"
        - type: object
          properties:
            workspaces:
              description: |-
                Workspaces and organizations this user may access.

                Note: The API will only return workspaces and organizations that
                also contain the authenticated user.
              readOnly: true
              type: array
              items:
                $ref: "#/components/schemas/WorkspaceCompact"
    WorkspaceCompact:
      allOf:
        - $ref: "#/components/schemas/AsanaResource"
        - type: object
          description: >-
            A *workspace* is the highest-level organizational unit in Asana. All
            projects and tasks have an associated workspace.
          properties:
            # Override resource_type example
            resource_type:
              example: workspace
            name:
              description: The name of the workspace.
              type: string
              example: My Company Workspace
  parameters:
    opt_fields:
      name: opt_fields
      in: query
      description: >-
        This option allows you to list the exact set of fields that the API should
        be sure to return for the objects. The field names should be provided as
        paths, described below.
      required: false
      schema:
        type: array
        items:
          type: string
      example:
        - gid
        - resource_type
      style: form
      explode: false
    opt_pretty:
      name: opt_pretty
      in: query
      description: >-
        Provides the response in a “pretty” format. In the case of JSON this
        means doing proper line breaking and indentation to make it readable.
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
      example: true
    user_gid:
      name: user_gid
      in: path
      description: >-
        A string identifying a user. This can either be the string "me", an email,
        or the gid of a user.
      required: true
      schema:
        type: string
      example: me
  securitySchemes:
    personal_access_token:
      type: http
      description: >-
        A personal access token allows access to the api for the user who
        created it. This should be kept a secret and be treated like a
        password.
      scheme: bearer
    oauth2:
      type: oauth2
      description: >-
        We require that applications designed to access the Asana API on behalf
        of multiple users implement OAuth 2.0.
        Asana supports the Authorization Code Grant flow.
      flows:
        authorizationCode:
          authorizationUrl: https://app.asana.com/-/oauth_authorize
          tokenUrl: https://app.asana.com/-/oauth_token
          refreshUrl: https://app.asana.com/-/oauth_token
          scopes:
            default: >-
              Provides access to all endpoints documented in our API reference.
              If no scopes are requested, this scope is assumed by default.
            openid: >-
              Provides access to OpenID Connect ID tokens and the OpenID Connect
              user info endpoint.
            email: >-
              Provides access to the user’s email through the OpenID Connect
              user info endpoint.
            profile: >-
              Provides access to the user’s name and profile photo through the
              OpenID Connect user info endpoint.
security:
  - personal_access_token: []
  - oauth2: []
tags:
  - name: Users
    description: >-
      A user object represents an account in Asana that can be given access to
      various workspaces, projects, and tasks.
externalDocs:
  description: API Reference
  url: https://developers.asana.com/reference
